<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/CV/NLaBergeCV.pdf">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:Nicholas.LaBerge@colorado.edu">Nicholas.LaBerge@colorado.edu</a></li>
	        		<li><a href="https://github.com/nlaberge">github.com/nlaberge</a></li>
				</ul>
			</footer>
		</body>
	</html>
